<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>New York Times Top Stories</span>
    <span class="example-spacer"></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >favorite</mat-icon
    >
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card" *ngFor="let post of Post">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{ post.title }} </mat-card-title>
    <mat-card-subtitle> {{ post.description }} </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="getSantizeUrl(post.urlToImage)" />
  <mat-card-content>
    <p>
      {{ post.content }}
    </p>
  </mat-card-content>
</mat-card>
